:root {
  --color-ule: #ff6201;
  --shadow-color: hsl(from var(--color-ule) h s 20% / 1);
  --shadow: 3px 3px 0 var(--shadow-color);
  --shadow-on-hover: 2px 2px 0 var(--shadow-color);
}

button {
  border: none;
  transition:
    background-color 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    scale 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    box-shadow 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);

  &:hover {
    cursor: pointer;
  }
}

[type='submit'],
[type='reset'] {
  background-color: var(--own-button-color);
  border: none;
  transition:
    background-color 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    scale 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    box-shadow 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  color: white;
  font-weight: 700;
  font-size: 1rem;
  padding: 10px 15px;
  margin-top: 1rem;
  box-shadow: var(--shadow);

  &:hover,
  &:focus {
    outline: none;
    cursor: pointer;
    background-color: color-mix(in srgb, var(--own-button-color), white 10%);
    scale: 105%;
    box-shadow: var(--shadow-on-hover);
  }
}

[type='submit'] {
  --own-button-color: var(--color-ule);
}

[type='reset'] {
  --own-button-color: color-mix(in srgb, var(--color-ule), red 50%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:
    Ubuntu,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

header {
  --close-session-bg-color: color-mix(in srgb, var(--color-ule), red 50%);
  --shadow-color: color-mix(in srgb, var(--color-ule), rgb(97, 0, 0) 90%);
  background-color: var(--color-ule);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;

  .close-session-container {
    position: absolute;
    left: 0;
    margin-inline: 2rem;

    button {
      padding: 0.8rem 0.5rem;
      font-size: 1.1rem;
      background-color: var(--close-session-bg-color);
      color: white;
      outline: 0px solid color-mix(in srgb, var(--color-ule), rgb(99, 0, 0) 90%);
      font-weight: 700;
      box-shadow: var(--shadow);

      &:hover,
      &:focus,
      &:active {
        background-color: color-mix(in srgb, var(--color-ule), red 30%);
        scale: 105%;
        box-shadow: var(--shadow-on-hover);
      }
    }
  }

  h1 {
    font-size: clamp(1.875rem, 3rem);
    font-weight: 600;
    letter-spacing: 0.025rem;
    color: white;
    flex-direction: column;
    display: flex;

    span {
      text-align: right;
      padding-block: 0.5rem;

      &:nth-child(2) {
        display: block;
      }
    }
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: square;

    svg {
      text {
        font-size: 9.92328px;
        writing-mode: lr-tb;
        direction: ltr;
        opacity: 1;
        fill-opacity: 1;
        fill: #fff;
        stroke: #fff;
        stroke-width: 0.699803;
        stroke-linecap: butt;
        stroke-dasharray: none;
        stroke-opacity: 1;
        paint-order: normal;

        tspan {
          font-style: normal;
          font-variant: normal;
          font-weight: 300;
          color: #fff;
          fill: #fff;
          stroke: #fff;
          font-stretch: normal;
          font-family: Ubuntu;
          -inkscape-font-specification: 'Ubuntu Light';
          stroke-width: 0.699803;
          stroke-dasharray: none;
        }
      }
    }
  }
}

body {
  height: 100dvh;
}

main {
  padding-bottom: 4rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }

  h1 {
    margin-block: 2rem;
  }

  h2 {
    margin-block: 1rem;
  }

  table {
    width: 95%;
    border-collapse: collapse;
    margin-inline: auto;
    box-shadow: var(--shadow);
    border: 1px solid color-mix(in srgb, var(--color-ule), black 20%);

    thead {
      font-weight: 800;
      font-size: 1.2rem;
      color: white;
      background-color: var(--color-ule);
    }

    tfoot {
      background-color: #ccc;

      td {
        margin: 0;
        padding: 0;

        button {
          background-color: var(--color-ule);
          width: 100%;
          color: white;
          font-size: 1rem;
          padding: 10px 8px;
          font-weight: 700;

          &:is(:focus, :hover, :active) {
            outline: none;
            background-color: color-mix(in srgb, var(--color-ule), white 10%);
          }
        }
      }
    }
  }

  tr {
    display: flex;

    td,
    th {
      flex: 1;
      padding: 5px;
      text-align: center;
      margin-block: 5px;
    }

    td:nth-child(1) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:nth-child(even) {
      background-color: color-mix(in srgb, var(--color-ule), white 70%);

      &:hover {
        background-color: color-mix(in srgb, var(--color-ule), white 50%);
      }
    }

    [data-admin] {
      background-image: radial-gradient(
        circle farthest-corner at 20% 90%,
        rgba(255, 229, 145, 1) 0.3%,
        rgb(255, 161, 60) 100.2%
      );
      background-position: center;
      background-clip: border-box;
      font-weight: 700;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      text-transform: capitalize;
      border-radius: 5px;
    }

    [data-editor] {
      background-image: radial-gradient(
        circle farthest-corner at 20% 90%,
        rgb(209, 145, 255) 0.3%,
        rgb(151, 60, 255) 100.2%
      );
      color: white;
      font-weight: 700;
      text-transform: capitalize;
      background-position: center;
      background-clip: border-box;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      border-radius: 5px;
    }
  }

  #cards {
    width: 95%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    place-items: center;

    .card {
      max-width: 25rem;
      padding: 1rem 0;
      width: 100%;
      text-align: center;
      border: 1px solid var(--color-ule);

      img {
        aspect-ratio: 10/6;
        width: 100%;
        height: auto;
      }

      h5 {
        margin-top: 1.5rem;
      }
    }
  }

  #cards:has(button#add-new-card) {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-inline: auto;
    gap: 12px;

    #add-new-card {
      background-color: var(--color-ule);
      color: white;
      font-weight: 700;
      font-size: 1rem;
      padding: 10px 15px;
      box-shadow: 3px 3px 0
        color-mix(in srgb, var(--color-ule), rgba(109, 39, 9, 0.969) 90%);

      &:hover,
      &:active,
      &:focus {
        outline: none;
        background-color: color-mix(in srgb, var(--color-ule), white 10%);
        scale: 105%;
        box-shadow: 2px 2px 0
          color-mix(in srgb, var(--color-ule), rgba(109, 39, 9, 0.969) 90%);
      }
    }
  }
}

#login-container {
  display: flex;
  flex-direction: column;
  height: 70%;
}

form {
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  background-color: hsl(from var(--color-ule) h s 60% / 1);
  font-size: 1.5rem;
  box-shadow: var(--shadow);
  color: white;

  label {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-block: 0.8rem;
    position: relative;

    input,
    select,
    textarea {
      border: none;
      padding: 10px 8px;
      width: 100%;
      font-size: 1.1rem;
      resize: vertical;
      field-sizing: content;

      &:focus {
        outline: none;
      }
    }

    input:not([type='file']),
    select,
    textarea {
      background-color: #fff;
      box-shadow:
        3px 3px 0 #b0b0b0,
        -3px -3px 0 #eeecec;
    }

    textarea {
      min-height: fit-content;
    }

    #show-password {
      border: none;
      background-color: transparent;
      margin: 1.5% 3%;
      position: absolute;
      right: 0;
      bottom: 0;

      &:focus,
      &:active {
        outline: none;
      }
    }
  }

  div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 0.8rem;
    place-items: center;

    label {
      width: 100%;

      select {
        width: 100%;
      }
    }
  }
}

dialog {
  margin: 0 auto;
  border: none;
  justify-self: center;
  align-self: center;
  height: 90%;
  width: 75%;

  &:open {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0.5rem;
    box-shadow: 4px 4px 0 #cdcdcd;
  }

  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  &::backdrop {
    background: #141414c3;
    backdrop-filter: blur(10px);
  }

  #close-card-dialog,
  #close-user-dialog {
    font-size: 1.5rem;
    background-color: color-mix(in srgb, var(--color-ule), red 50%);
    font-weight: 800;
    color: white;
    display: inline;
    padding: 4px;
    aspect-ratio: 1/1;
    border-radius: 99999px;
    position: sticky;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    text-align: center;
    vertical-align: middle;
    align-self: flex-start;

    &:focus {
      outline: none;
    }
  }

  .card-form-actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
