---
import Ule from "@/assets/ule.svg"
---

<header class="bg-ule w-full flex items-center justify-center gap-8">
  <div class="flex items-center justify-center aspect-square">
    <Ule />
  </div>
  <h1 class="text-5xl font-semibold tracking-wide text-white [&>span]:text-right flex flex-col [&>span]:py-2">
    <span>Usuarios Libres</span>
    <span class="block">de Esquel</span>
  </h1>
</header>
