<header class="bg-orange-500 w-full flex items-center justify-center gap-8">
  <div class="aspect-square flex items-center justify-center">
    <img src="/img/ule-icon.png" alt="icono de ule" class="aspect-square w-50 h-auto">
  </div>
  <h1 class="text-5xl font-semibold tracking-wide text-white [&>span]:text-right flex flex-col [&>span]:py-2">
    <span>Usuarios Libres</span>
    <span class="block">de Esquel</span>
  </h1>
</header>
