<header class="py-6 bg-orange-500 text-center">
  <h1 class="text-4xl text-white flex flex-col items-center [&>span]:py-2">
    <span class="font-bold">ULE</span>
    <span class="border-t font-light border-white">Usuarios Libres de Esquel</span>
  </h1>
</header>
