{
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "./src/**/*.astro",
      "options": {
        "parser": "astro",
        "semi": false,
        "singleQuote": true
      }
    },
    {
      "files": "*.ts",
      "options": {
        "tabWidth": 2,
        "semi": false,
        "singleQuote": true
      }
    }
  ]
}
