---
import ViewSection from '@/components/shared/ViewSection.astro'
import InfoCard from '@/components/shared/InfoCard.astro'
---

<ViewSection
  title="¿Qué es ULE?"
  className="gap-4 px-6"
>
<section class="grid gap-6 grid-cols-[repeat(auto-fit,minmax(170px,1fr))]">
    <InfoCard description="Usuarios Libres de Esquel es un grupo de jóvenes que buscan promover el uso del Software y Hardware libre"/>
    <InfoCard description="Planteamos distintas propuestas a realizar que se pueden encontrar en este página en todo momento"/>
    <InfoCard description="No hace falta que sepas de informática o tecnología para formar parte, escribinos y sumate!"/>
  </section>
</ViewSection>
