---
import About from '@/components/views/About.astro'
import Events from '@/components/views/Events.astro'
---

<main class="h-full w-full flex items-center flex-col">
  <About />
  <Events />
</main>
