@import "tailwindcss";

@theme {
  --font-ubuntu: "Ubuntu", sans-serif;
  --color-ule: #ff6201;
  --color-shadow: hsl(from var(--color-ule) h s 20% / 1);
  --color-bg-close-session: color-mix(in srgb, var(--color-ule), red 50%);
  --shadow-buttons: 3px 3px 0 var(--color-shadow);
  --shadow-on-hover: 2px 2px 0 var(--color-shadow);
  --shadow-input: 3px 3px 0 #b0b0b0, -3px -3px 0 #eeecec;
}

* {
  @apply antialiased;
}

[type="submit"],
[type="reset"] {
  @apply shadow-buttons mt-4 border-none bg-(--own-button-color) px-4 py-2.5 text-base leading-6 font-semibold text-white transition-all;
  &:hover,
  &:focus {
    @apply shadow-on-hover scale-105 cursor-pointer bg-[color-mix(in_srgb,var(--own-button-color),white_10%)] outline-none;
  }
}

[type="submit"] {
  --own-button-color: var(--color-ule);
  @apply tracking-wide;
}

[type="reset"] {
  --own-button-color: color-mix(in srgb, var(--color-ule), red 50%);
}

form {
  @apply mx-auto flex flex-col bg-[hsl(from_var(--color-ule)_h_s_60%/1)] px-6 py-8 text-2xl text-white shadow-(--shadow);

  label {
    @apply relative my-3 flex flex-col gap-1;

    input,
    select,
    textarea {
      @apply mt-1 field-sizing-content w-full resize-y border-none px-2 py-2.5 text-[1.1rem] text-[#141414];

      &:focus {
        @apply outline-none;
      }
    }

    input:not([type="file"]),
    select,
    textarea {
      @apply shadow-input bg-white;
    }

    textarea {
      @apply min-h-fit;
    }
  }

  div {
    @apply grid w-full grid-cols-2 place-items-center gap-3;
    label {
      @apply w-full;

      select {
        @apply w-full;
      }
    }
  }
}

[data-admin] {
  background-image: radial-gradient(
    circle farthest-corner at 20% 90%,
    rgba(255, 229, 145, 1) 0.3%,
    rgb(255, 161, 60) 100.2%
  );
}

[data-editor] {
  background-image: radial-gradient(
    circle farthest-corner at 20% 90%,
    rgb(209, 145, 255) 0.3%,
    rgb(151, 60, 255) 100.2%
  );
}
