---
interface Props {
  description: string;
  
}

const {description} = Astro.props; 
---

<article class="border border-orange-400 bg-ule shadow-[6px_6px_0_2px_var(--color-orange-200)] p-2">
  <p class="text-sm md:text-lg font-semibold text-white">{description}</p>
</article>
