---
import { twMerge } from 'tailwind-merge'

interface Props {
  title: string
  className: string
}

const { title, className } = Astro.props
---

<section 
  class={
    twMerge("flex flex-col w-full items-center justify-center my-8", className)
  }
>
  <h2 class="text-center font-bold text-3xl text-ule">{title}</h2>
  <slot />
</section>
